body {
    margin: 0;
    background: url(assets/background.jpg) repeat #f5f5f5;
    background-position: center;
    font-family: 'GraphikArabic', sans-serif;
    color: #f5f5f5;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: transparent;
}

@supports (background-image: url('data:image/webp;base64,UklGRiQAAABXRUJQVlA4IBgAAAAwAQCdASoBAAEAAwA0JaQAA3AA/vuAAAAAAA')) {
    body {
        background: url(assets/background.webp) repeat #f5f5f5;
    }
}

header {
    background: linear-gradient(135deg, #1078d8, #1078d8);
    font-family: 'Estedad-MDarvishi', sans-serif;
    word-spacing: 0.1em;
    color: #e6e6e6;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header h1.desktop-title {
    margin: 0;
    font-size: 3.5rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    margin: 20px;
    display: block;
}

header h2.mobile-title {
    margin: 0;
    font-size: 2rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    margin: 20px;
    display: none;
}

@media (max-width: 767px) {
    header h1.desktop-title {
        display: none;
    }

    header h2.mobile-title {
        display: block;
    }
}

.navbar {
    position: relative;
    background-color: #fff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin: -20px auto 20px auto;
    padding: 10px;
    width: calc(100% - 40px);
    max-width: 730px;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
}

@media (max-width: 767px) {
    .navbar {
        padding: 5px;
        border-radius: 15px;
        max-width: 370px;
    }
}

.nav-item-home {
    width: 60px;
    height: 40px;
    background-image: url(assets/navbar/home-icon.svg);
    background-size: cover;
    display: inline-block;
    transition: transform 0.3s, background 0.3s, border-radius 0.3s;
    margin: 10px;
    border-radius: 10px;
    vertical-align: middle;
    text-decoration: none;
}

.nav-item-home.active {
    width: 60px;
    height: 40px;
    background: url(assets/navbar/home-hover.svg);
    background-size: cover;
    transform: scale(1.45);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 769px) {
    .nav-item-home:hover {
        width: 60px;
        height: 40px;
        background: url(assets/navbar/home-hover.svg);
        background-size: cover;
        transform: scale(1.45);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 767px) {
    .nav-item-home {
        width: 55px;
        height: 35px;
        border-radius: 8px;
    }
}

@media (max-width: 767px) {
    .nav-item-home.active {
        width: 55px;
        height: 35px;
        border-radius: 8px;
    }
}

.nav-item-search {
    width: 60px;
    height: 40px;
    background: url(assets/navbar/search-icon.svg);
    background-size: cover;
    display: inline-block;
    transition: transform 0.3s, background 0.3s, border-radius 0.3s;
    margin: 10px;
    margin-right: 140px;
    border-radius: 10px;
    vertical-align: middle;
    text-decoration: none;
}

.nav-item-search.active {
    width: 60px;
    height: 40px;
    background: url(assets/navbar/search-hover.svg);
    background-size: cover;
    transform: scale(1.45);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 769px) {
    .nav-item-search:hover {
        width: 60px;
        height: 40px;
        background: url(assets/navbar/search-hover.svg);
        background-size: cover;
        transform: scale(1.45);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 767px) {
    .nav-item-search {
        margin-right: 20px;
        width: 55px;
        height: 35px;
        border-radius: 8px;
    }
}

@media (max-width: 767px) {
    .nav-item-search.active {
        width: 55px;
        height: 35px;
        border-radius: 8px;
    }
}

#search-box {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    width: calc(100% - 40px);
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 75px;
    left: 10px;
    right: 0;
    z-index: 2000;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    #search-box {
        width: calc(100% - 60px);
        top: 65px;
        left: 20px;
        right: 0;
    }
}

#search-box.visible {
    display: flex;
}

.search-input {
    width: calc(100% - 10px);
    background-color: #f5f5f5;
    flex: 1;
    padding: 5px;
    margin-right: 0;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}

.search-input:focus {
    outline: none;
    border-color: #cccccc;
}


#search-results {
    display: none;
    flex-direction: row;
    margin-top: 50px;
    padding: 10px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.2);
}

#search-results.hidden {
    display: none;
}

#results-list {
    list-style-type: none;
    padding: 0;
}

#results-list li {
    margin: 10px 0;
}

#results-list li a {
    text-decoration: none;
    color: #333;
}

.nav-item-language {
    width: 60px;
    height: 40px;
    background: url(assets/navbar/language-icon.svg);
    background-size: cover;
    display: inline-block;
    transition: transform 0.3s, background 0.3s, border-radius 0.3s;
    margin: 10px;
    margin-right: 140px;
    border-radius: 10px;
    vertical-align: middle;
    text-decoration: none;
}

.nav-item-language.active {
    width: 60px;
    height: 40px;
    background: url(assets/navbar/language-hover.svg);
    background-size: cover;
    transform: scale(1.45);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 769px) {
    .nav-item-language:hover {
        width: 60px;
        height: 40px;
        background: url(assets/navbar/language-hover.svg);
        background-size: cover;
        transform: scale(1.45);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 767px) {
    .nav-item-language {
        margin-right: 20px;
        width: 55px;
        height: 35px;
        border-radius: 8px;
    }
}

@media (max-width: 767px) {
    .nav-item-language.active {
        width: 55px;
        height: 35px;
        border-radius: 8px;
    }
}

#language-box {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    width: calc(100% - 350px);
    border: 1px solid #fff;
    border-radius: 5px;
    position: absolute;
    top: 75px;
    left: 55px;
    right: 0;
    z-index: 2000;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 767px) {
    #language-box {
        width: calc(100% - 150px);
        top: 65px;
        left: 18px;
        right: 0;
    }
}

#language-box.visible {
    display: flex;
}

.language-persian {
    width: calc(100% - 10px);
    background-color: #f5f5f5;
    flex: 1;
    padding: 5px;
    margin-right: 0;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #333;
}

.language-english {
    width: calc(100% - 10px);
    background-color: #f5f5f5;
    flex: 1;
    padding: 5px;
    margin-right: 0;
    margin-top: 5px;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #333;
}

.language-persian:hover,
.language-english:hover {
    outline: none;
    /* حذف کادر پیش‌فرض مرورگر */
    border-color: #cccccc;
    /* رنگ خاکستری برای کادر */
    text-decoration: none;
    color: #333;
}

.nav-item-about {
    width: 60px;
    height: 40px;
    background: url(assets/navbar/about-icon.svg);
    background-size: cover;
    display: inline-block;
    transition: transform 0.3s, background 0.3s, border-radius 0.3s;
    margin: 10px;
    margin-right: 140px;
    border-radius: 10px;
    vertical-align: middle;
    text-decoration: none;
}

.nav-item-about.active {
    width: 60px;
    height: 40px;
    background: url(assets/navbar/about-hover.svg);
    background-size: cover;
    transform: scale(1.45);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (min-width: 769px) {
    .nav-item-about:hover {
        width: 60px;
        height: 40px;
        background: url(assets/navbar/about-hover.svg);
        background-size: cover;
        transform: scale(1.45);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

@media (max-width: 767px) {
    .nav-item-about {
        margin-right: 20px;
        width: 55px;
        height: 35px;
        border-radius: 8px;
    }
}

@media (max-width: 767px) {
    .nav-item-about:hover {
        width: 55px;
        height: 35px;
        border-radius: 8px;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    flex-grow: 1;
}

.intro {
    text-align: center;
    color: #4d4d4d;
}

.intro h1.desktop2-title {
    margin: 0;
    font-size: 2.8rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    margin: 20px;
    display: block;
}

.intro h2.mobile2-title {
    margin: 0;
    font-size: 2.2rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    margin: 20px;
    display: none;
}

@media (max-width: 767px) {
    .intro h1.desktop2-title {
        display: none;
    }

    .intro h2.mobile2-title {
        display: block;
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 2rem;
    margin: 50px;
    justify-content: center;
}

.project {
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 350px;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project h3 {
    margin: 1rem;
    font-size: 2rem;
    color: #4d4d4d;
}

.project p {
    word-spacing: 0.1em;
    margin: 0 1.2rem 1.2rem;
    color: #666666;
}

#backToTop {
    position: fixed;
    bottom: 65px;
    right: 20px;
    display: none;
    /* ابتدا دکمه نمایش داده نشود */
    background-color: #1078d8;
    color: white;
    border: none;
    padding: 12px 13px;
    border-radius: 20%;
    cursor: pointer;
    font-size: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#backToTop:hover {
    background-color: #1078d8;
    transform: scale(1);
}

#backToTop.no-hover:hover {
    background-color: #1078d8;
    transform: scale(1.1);
}

.icon-backToTop {
    width: 14px;
    height: 14px;
    transition: transform 0.3s, background-image 0.3s;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #1078d8;
    color: #fff;
    margin-top: auto;
}

.foot-item-telegram {
    width: 45px;
    height: 45px;
    background: url(assets/footer/telegram-icon.svg);
    background-size: cover;
    display: inline-block;
    transition: transform 0.3s, background 0.3s, border-radius 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    margin-right: 28px;
    border-radius: 10px;
    vertical-align: middle;
    text-decoration: none;
}

.foot-item-telegram.active {
    transform: scale(1.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (min-width: 769px) {
    .foot-item-telegram:hover {
        transform: scale(1.2);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 767px) {
    .foot-item-telegram {
        margin-right: 10px;
        width: 35px;
        height: 35px;
        border-radius: 7px;
    }
}

.foot-item-email {
    width: 45px;
    height: 45px;
    background: url(assets/footer/email-icon.svg);
    background-size: cover;
    display: inline-block;
    transition: transform 0.3s, background 0.3s, border-radius 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 5px;
    border-radius: 10px;
    vertical-align: middle;
    text-decoration: none;
}

.foot-item-email.active {
    transform: scale(1.2);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (min-width: 769px) {
    .foot-item-email:hover {
        transform: scale(1.2);
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }
}

@media (max-width: 767px) {
    .foot-item-email {
        margin: -5px;
        width: 35px;
        height: 35px;
        border-radius: 7px;
    }
}

footer a {
    display: inline-block;
    color: #15b6ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
	text-decoration: underline;
}

footer p {
    padding: 0;
    margin: 0;
    display: inline-block;
}

footer p+p+p {
    margin-right: 0;
}

footer a:hover {
    color: #3fc3ff;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}